/QuanLyHoiNguoiKhuyetTat/QuanLyHoiNguoiKhuyetTat/bin
/QuanLyHoiNguoiKhuyetTat/QuanLyHoiNguoiKhuyetTat/obj
/QuanLyHoiNguoiKhuyetTat/QuanLyHoiNguoiKhuyetTat/App.Config
/QuanLyHoiNguoiKhuyetTat/QuanLyHoiNguoiKhuyetTat/Properties/licenses.licx
/QuanLyHoiNguoiKhuyetTat/.vs
