USE [master]
GO
/****** Object:  Database [vksn7904_QL_HOI_VIEN_NGUOI_KT]    Script Date: 29/05/2019 5:18:04 CH ******/
CREATE DATABASE [vksn7904_QL_HOI_VIEN_NGUOI_KT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vksn7904_QL_HOI_VIEN_NGUOI_KT', FILENAME = N'C:\Program Files (x86)\Parallels\Plesk\Databases\MSSQL\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\vksn7904_QL_HOI_VIEN_NGUOI_KT.mdf' , SIZE = 5184KB , MAXSIZE = 1048576KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'vksn7904_QL_HOI_VIEN_NGUOI_KT_log', FILENAME = N'C:\Program Files (x86)\Parallels\Plesk\Databases\MSSQL\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\vksn7904_QL_HOI_VIEN_NGUOI_KT_log.ldf' , SIZE = 6912KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vksn7904_QL_HOI_VIEN_NGUOI_KT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vksn7904_QL_HOI_VIEN_NGUOI_KT]
GO
/****** Object:  User [vksn7904_QL_HOI_VIEN_NGUOI_KT]    Script Date: 29/05/2019 5:18:05 CH ******/
CREATE USER [vksn7904_QL_HOI_VIEN_NGUOI_KT] FOR LOGIN [vksn7904_QL_HOI_VIEN_NGUOI_KT] WITH DEFAULT_SCHEMA=[vksn7904_QL_HOI_VIEN_NGUOI_KT]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [vksn7904_QL_HOI_VIEN_NGUOI_KT]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [vksn7904_QL_HOI_VIEN_NGUOI_KT]
GO
ALTER ROLE [db_datareader] ADD MEMBER [vksn7904_QL_HOI_VIEN_NGUOI_KT]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [vksn7904_QL_HOI_VIEN_NGUOI_KT]
GO
/****** Object:  Schema [vksn7904_QL_HOI_VIEN_NGUOI_KT]    Script Date: 29/05/2019 5:18:05 CH ******/
CREATE SCHEMA [vksn7904_QL_HOI_VIEN_NGUOI_KT]
GO
/****** Object:  Table [dbo].[DM_CHAMSOC_BANTHAN]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_CHAMSOC_BANTHAN](
	[CSBT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CSBT_TEN] [nvarchar](250) NULL,
	[CSBT_STT] [int] NULL,
 CONSTRAINT [PK_DM_CHAMSOC_BANTHAN] PRIMARY KEY CLUSTERED 
(
	[CSBT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_CHUCVU_HOI]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_CHUCVU_HOI](
	[CV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CV_TEN] [nvarchar](250) NULL,
	[CV_STT] [int] NULL,
 CONSTRAINT [PK_DM_CHUCVU_HOI] PRIMARY KEY CLUSTERED 
(
	[CV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_DANTOC]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_DANTOC](
	[DT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DT_TEN] [nvarchar](250) NULL,
	[DT_STT] [int] NULL,
 CONSTRAINT [PK_DM_DANTOC] PRIMARY KEY CLUSTERED 
(
	[DT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_DUNGCU_HOTRO]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_DUNGCU_HOTRO](
	[DCHT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DCHT_TEN] [nvarchar](250) NULL,
	[DCHT_STT] [int] NULL,
 CONSTRAINT [PK_DM_DUNGCU_HOTRO] PRIMARY KEY CLUSTERED 
(
	[DCHT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_HUYEN]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_HUYEN](
	[HUYEN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HUYEN_TEN] [nvarchar](150) NULL,
	[HUYEN_DIENGIAI] [nvarchar](250) NULL,
	[TINH_ID] [bigint] NULL,
	[HUYEN_STT] [int] NULL,
 CONSTRAINT [PK_DM_HUYEN] PRIMARY KEY CLUSTERED 
(
	[HUYEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_KHUYETTAT_MUCDO]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KHUYETTAT_MUCDO](
	[MDKT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MDKT_TEN] [nvarchar](250) NULL,
	[MDKT_STT] [int] NULL,
 CONSTRAINT [PK_DM_MUCDO_KHUYETTAT] PRIMARY KEY CLUSTERED 
(
	[MDKT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_KHUYETTAT_NGUYENNHAN]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KHUYETTAT_NGUYENNHAN](
	[NNKT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NNKT_TEN] [nvarchar](250) NULL,
	[NNKT_STT] [int] NULL,
 CONSTRAINT [PK_DM_KHUYETTAT_NGUYENNHAN] PRIMARY KEY CLUSTERED 
(
	[NNKT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_KHUYETTAT_TINHTRANG]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KHUYETTAT_TINHTRANG](
	[TTKT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TTKT_TEN] [nvarchar](250) NULL,
	[TTKT_STT] [int] NULL,
 CONSTRAINT [PK_DM_TINHTRANG_KHUYETTAT] PRIMARY KEY CLUSTERED 
(
	[TTKT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NGHE_NGHIEP]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NGHE_NGHIEP](
	[NN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NN_TEN] [nvarchar](150) NULL,
	[NN_DIENGIAI] [nvarchar](250) NULL,
	[NN_STT] [int] NULL,
 CONSTRAINT [PK_DM_NGHE_NGHIEP] PRIMARY KEY CLUSTERED 
(
	[NN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NGOAINGU]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NGOAINGU](
	[NN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NN_TEN] [nvarchar](250) NULL,
	[NN_STT] [int] NULL,
 CONSTRAINT [PK_NN_DANTOC] PRIMARY KEY CLUSTERED 
(
	[NN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NHUCAU]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NHUCAU](
	[NC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NC_TEN] [nvarchar](250) NULL,
	[NC_STT] [int] NULL,
 CONSTRAINT [PK_DM_NHUCAU] PRIMARY KEY CLUSTERED 
(
	[NC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NOI_O_NHA]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NOI_O_NHA](
	[NO_NHA_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NO_NHA_TEN] [nvarchar](250) NULL,
	[NO_NHA_STT] [int] NULL,
 CONSTRAINT [PK_DM_NOI_O_NHA] PRIMARY KEY CLUSTERED 
(
	[NO_NHA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NOI_O_SONG_VOI]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NOI_O_SONG_VOI](
	[NOSV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOSV_TEN] [nvarchar](250) NULL,
	[NOSV_STT] [int] NULL,
 CONSTRAINT [PK_DM_NOI_O_SONG_VOI] PRIMARY KEY CLUSTERED 
(
	[NOSV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NOI_SINH_SONG]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NOI_SINH_SONG](
	[NSS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NSS_TEN] [nvarchar](250) NULL,
	[NSS_STT] [int] NULL,
 CONSTRAINT [PK_DM_NOI_SINH_SONG] PRIMARY KEY CLUSTERED 
(
	[NSS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_PHUONGTIEN_DILAI]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_PHUONGTIEN_DILAI](
	[PT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PT_TEN] [nvarchar](250) NULL,
	[PT_STT] [int] NULL,
 CONSTRAINT [PK_DM_PHUONGTIEN_DILAI] PRIMARY KEY CLUSTERED 
(
	[PT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_THANHVIEN_HOI]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_THANHVIEN_HOI](
	[TVH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TVH_TEN] [nvarchar](250) NULL,
	[TVH_STT] [int] NULL,
 CONSTRAINT [PK_DM_THANHVIEN_HOI] PRIMARY KEY CLUSTERED 
(
	[TVH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TINH]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TINH](
	[TINH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TINH_TEN] [nvarchar](150) NULL,
	[TINH_DIENGIAI] [nvarchar](250) NULL,
	[TINH_STT] [int] NULL,
 CONSTRAINT [PK_DM_TINH] PRIMARY KEY CLUSTERED 
(
	[TINH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TINHTRANG_HONNHAN]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TINHTRANG_HONNHAN](
	[TTHN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TTHN_TEN] [nvarchar](250) NULL,
	[TTHN_STT] [int] NULL,
 CONSTRAINT [PK_DM_TINHTRANG_HONNHAN] PRIMARY KEY CLUSTERED 
(
	[TTHN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TONGIAO]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TONGIAO](
	[TG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TG_TEN] [nvarchar](250) NULL,
	[TG_STT] [int] NULL,
 CONSTRAINT [PK_DM_TONGIAO] PRIMARY KEY CLUSTERED 
(
	[TG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TRINH_DO_CHUYEN_MON]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TRINH_DO_CHUYEN_MON](
	[CM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CM_TEN] [nvarchar](150) NULL,
	[CM_DIENGIAI] [nvarchar](250) NULL,
	[CM_STT] [int] NULL,
 CONSTRAINT [PK_DM_TRINH_DO_CHUYEN_MON] PRIMARY KEY CLUSTERED 
(
	[CM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TRINH_DO_HOC_VAN]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TRINH_DO_HOC_VAN](
	[HV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HV_TEN] [nvarchar](150) NULL,
	[HV_DIENGIAI] [nvarchar](250) NULL,
	[HV_STT] [int] NULL,
 CONSTRAINT [PK_DM_TRINH_DO_HOC_VAN] PRIMARY KEY CLUSTERED 
(
	[HV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_XA]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_XA](
	[XA_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[XA_TEN] [nvarchar](150) NULL,
	[HUYEN_ID] [bigint] NULL,
	[TINH_ID] [bigint] NULL,
	[XA_DIENGIAI] [nvarchar](250) NULL,
	[XA_STT] [int] NULL,
 CONSTRAINT [PK_DM_XA] PRIMARY KEY CLUSTERED 
(
	[XA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HOATDONG_ASXH]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HOATDONG_ASXH](
	[ASXH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ASXH_LOAI_ID] [bigint] NULL,
	[ASXH_TEN] [nvarchar](250) NULL,
	[ASXH_THOIGIAN_BATDAU] [datetime] NULL,
	[ASXH_THOIGIAN_KETTHUC] [datetime] NULL,
	[ASXH_TONGSO_NGAY] [int] NULL,
	[ASXH_DIADIEM] [nvarchar](250) NULL,
	[ASXH_SOLUONG] [int] NULL,
	[ASXH_TONGSO_TIEN] [int] NULL,
	[ASXH_DOITUONG_TEN] [nvarchar](max) NULL,
	[ASXH_DOITUONG_ID] [nvarchar](250) NULL,
	[ASXH_DOITUONG_KHAC] [nvarchar](250) NULL,
	[ASXH_DONVI_THUCHIEN] [nvarchar](250) NULL,
	[ASXH_NOIDUNG] [nvarchar](max) NULL,
 CONSTRAINT [PK_QL_HOATDONG_ASXH] PRIMARY KEY CLUSTERED 
(
	[ASXH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HOATDONG_DAYNGHE]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HOATDONG_DAYNGHE](
	[DN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DN_TEN] [nvarchar](250) NULL,
	[DN_THOIGIAN_BATDAU] [datetime] NULL,
	[DN_THOIGIAN_KETTHUC] [datetime] NULL,
	[DN_TONGSO_NGAY] [int] NULL,
	[DN_DIADIEM] [nvarchar](250) NULL,
	[DN_NGHE] [nvarchar](250) NULL,
	[DN_DONVI_THUCHIEN] [nvarchar](250) NULL,
	[DN_SOLUONG] [int] NULL,
	[DN_SOLUONG_NU] [int] NULL,
	[DN_TONGTIEN] [int] NULL,
	[DN_DOITUONG_THAMGIA] [nvarchar](max) NULL,
	[DN_DOITUONG_THAMGIA_ID] [nvarchar](250) NULL,
	[DN_DOITUONG_KHAC] [nvarchar](250) NULL,
	[DN_NOIDUNG] [nvarchar](max) NULL,
	[DN_NGUOI_HOTRO] [nvarchar](max) NULL,
 CONSTRAINT [PK_QL_HOATDONG_DAYNGHE] PRIMARY KEY CLUSTERED 
(
	[DN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HOATDONG_HNXH]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HOATDONG_HNXH](
	[HNXH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HNXH_LOAI_ID] [bigint] NULL,
	[HNXH_TEN] [nvarchar](250) NULL,
	[HNXH_THOIGIAN_BATDAU] [datetime] NULL,
	[HNXH_THOIGIAN_KETTHUC] [datetime] NULL,
	[HNXH_TONGSO_NGAY] [int] NULL,
	[HNXH_DIADIEM] [nvarchar](250) NULL,
	[HNXH_SOLUONG] [int] NULL,
	[HNXH_DOITUONG_TEN] [nvarchar](max) NULL,
	[HNXH_DOITUONG_ID] [nvarchar](250) NULL,
	[HNXH_DOITUONG_KHAC] [nvarchar](250) NULL,
	[HNXH_TONGSO_TIEN] [int] NULL,
	[HNXH_DONVI_THUCHIEN] [nvarchar](250) NULL,
	[HNXH_NOIDUNG] [nvarchar](max) NULL,
 CONSTRAINT [PK_QL_HOATDONG_HNXH] PRIMARY KEY CLUSTERED 
(
	[HNXH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HOATDONG_HOITHAO]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HOATDONG_HOITHAO](
	[HT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HT_LOAI_ID] [bigint] NULL,
	[HT_TEN] [nvarchar](250) NULL,
	[HT_THOIGIAN_BATDAU] [datetime] NULL,
	[HT_THOIGIAN_KETTHUC] [datetime] NULL,
	[HT_TONGSO_NGAY] [int] NULL,
	[HT_DIADIEM] [nvarchar](250) NULL,
	[HT_NOIDUNG] [nvarchar](max) NULL,
	[HT_DONVI_THUCHIEN] [nvarchar](300) NULL,
	[HT_SOLUONG] [int] NULL,
	[HT_DOITUONG_TEN] [nvarchar](max) NULL,
	[HT_DOITUONG_ID] [nvarchar](250) NULL,
	[HT_DOITUONG_KHAC] [nvarchar](250) NULL,
	[HT_SOTIEN_HOTRO] [int] NULL,
	[HT_NGUOI_HOTRO] [nvarchar](max) NULL,
	[HT_NGUOI_HOTRO_THULAO] [int] NULL,
 CONSTRAINT [PK_QL_HOATDONG_HOITHAO] PRIMARY KEY CLUSTERED 
(
	[HT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HOATDONG_KHAC]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HOATDONG_KHAC](
	[KHAC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[KHAC_TEN_HOATDONG] [nvarchar](250) NULL,
	[KHAC_TEN] [nvarchar](250) NULL,
	[KHAC_THOIGIAN_BATDAU] [datetime] NULL,
	[KHAC_THOIGIAN_KETTHUC] [datetime] NULL,
	[KHAC_TONGSO_NGAY] [int] NULL,
	[KHAC_DIADIEM] [nvarchar](250) NULL,
	[KHAC_SOLUONG] [int] NULL,
	[KHAC_TONGSO_TIEN] [int] NULL,
	[KHAC_DOITUONG] [nvarchar](max) NULL,
	[KHAC_DOITUONG_ID] [nvarchar](250) NULL,
	[KHAC_DOITUONG_KHAC] [nvarchar](250) NULL,
	[KHAC_DONVI_THUCHIEN] [nvarchar](250) NULL,
	[KHAC_NOIDUNG] [nvarchar](max) NULL,
 CONSTRAINT [PK_QL_HOATDONG_KHAC] PRIMARY KEY CLUSTERED 
(
	[KHAC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HOATDONG_TAPHUAN]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HOATDONG_TAPHUAN](
	[TH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TH_LOAI_ID] [bigint] NULL,
	[TH_TEN] [nvarchar](250) NULL,
	[TH_THOIGIAN_BATDAU] [datetime] NULL,
	[TH_THOIGIAN_KETTHUC] [datetime] NULL,
	[TH_TONGSO_NGAY] [int] NULL,
	[TH_DIADIEM] [nvarchar](250) NULL,
	[TH_DONVI_THUCHIEN] [nvarchar](250) NULL,
	[TH_NOIDUNG] [nvarchar](max) NULL,
	[TH_SOLUONG] [int] NULL,
	[TH_DOITUONG_TEN] [nvarchar](max) NULL,
	[TH_DOITUONG_ID] [nvarchar](250) NULL,
	[TH_DOITUONG_KHAC] [nvarchar](250) NULL,
	[TH_SOTIEN_1NGUOI] [int] NULL,
	[TH_TONGTIEN] [bigint] NULL,
	[TH_GIANGVIEN] [nvarchar](250) NULL,
	[TH_GIANGVIEN_THULAO] [int] NULL,
	[TH_NGUOI_HOTRO] [nvarchar](250) NULL,
	[TH_NGUOI_HOTRO_THULAO] [int] NULL,
 CONSTRAINT [PK_QL_HOATDONG_TAPHUAN] PRIMARY KEY CLUSTERED 
(
	[TH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HOATDONG_VAYVON]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HOATDONG_VAYVON](
	[VV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VV_TEN] [nvarchar](250) NULL,
	[VV_THOIGIAN_BATDAU] [datetime] NULL,
	[VV_THOIGIAN_KETTHUC] [datetime] NULL,
	[VV_TONGSO_NGAY] [int] NULL,
	[VV_DIADIEM] [nvarchar](250) NULL,
	[VV_SOLUONG] [int] NULL,
	[VV_SOLUONG_NU] [int] NULL,
	[VV_NGUON_VAY] [nvarchar](250) NULL,
	[VV_TIEN_VAY] [int] NULL,
	[VV_THOIGIAN_TRA] [datetime] NULL,
	[VV_PHUONGTHUC_TRA] [nvarchar](250) NULL,
	[VV_DOITUONG_TEN] [nvarchar](max) NULL,
	[VV_DOITUONG_ID] [nvarchar](250) NULL,
	[VV_DOITUONG_KHAC] [nvarchar](250) NULL,
	[VV_NOIDUNG] [nvarchar](max) NULL,
 CONSTRAINT [PK_QL_HOATDONG_VAYVON] PRIMARY KEY CLUSTERED 
(
	[VV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HOATDONG_VIECLAM]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HOATDONG_VIECLAM](
	[VL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VL_LOAI_ID] [bigint] NULL,
	[VL_TEN] [nvarchar](250) NULL,
	[VL_THOIGIAN_BATDAU] [datetime] NULL,
	[VL_THOIGIAN_KETTHUC] [datetime] NULL,
	[VL_TONGSO_NGAY] [int] NULL,
	[VL_DIADIEM] [nvarchar](250) NULL,
	[VL_DONVI_GIOITHIEU] [nvarchar](250) NULL,
	[VL_SOLUONG] [int] NULL,
	[VL_SOLUONG_NU] [int] NULL,
	[VL_THUNHAP_THANG] [int] NULL,
	[VL_DOITUONG_TEN] [nvarchar](max) NULL,
	[VL_DOITUONG_ID] [nvarchar](250) NULL,
	[VL_DOITUONG_KHAC] [nvarchar](250) NULL,
	[VL_NOIDUNG] [nvarchar](max) NULL,
 CONSTRAINT [PK_QL_HOATDONG_GIAIQUYET_VIECLAM] PRIMARY KEY CLUSTERED 
(
	[VL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HOIVIEN]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HOIVIEN](
	[HV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HV_TEN] [nvarchar](250) NULL,
	[HV_IMAGE] [image] NULL,
	[HV_GIOI_TINH] [nvarchar](10) NULL,
	[HV_DAN_TOC] [nvarchar](250) NULL,
	[HV_NGAY_SINH] [date] NULL,
	[HV_TUOI] [int] NULL,
	[HV_TON_GIAO] [nvarchar](250) NULL,
	[HV_NGHE_NGHIEP] [nvarchar](250) NULL,
	[HV_TRINHDO_VANHOA] [nvarchar](250) NULL,
	[HV_TRINHDO_CHUYENMON] [nvarchar](250) NULL,
	[HV_NGOAINGU] [nvarchar](100) NULL,
	[HV_CMND] [nvarchar](20) NULL,
	[HV_CMND_NGAY] [date] NULL,
	[HV_CMND_NOICAP] [nvarchar](250) NULL,
	[HV_KHUYETTAT_NGAY] [date] NULL,
	[HV_CHUCVU] [nvarchar](250) NULL,
	[HV_THUONGTRU_KHUVUC] [nvarchar](100) NULL,
	[HV_THUONGTRU_DUONG] [nvarchar](100) NULL,
	[HV_THUONGTRU_PHUONG] [nvarchar](100) NULL,
	[HV_THUONGTRU_QUAN] [nvarchar](100) NULL,
	[HV_THUONGTRU_TP] [nvarchar](100) NULL,
	[HV_THUONGTRU_DIACHI] [nvarchar](250) NULL,
	[HV_TAMTRU_KHUVUC] [nvarchar](100) NULL,
	[HV_TAMTRU_DUONG] [nvarchar](100) NULL,
	[HV_TAMTRU_PHUONG] [nvarchar](100) NULL,
	[HV_TAMTRU_QUAN] [nvarchar](100) NULL,
	[HV_TAMTRU_TP] [nvarchar](100) NULL,
	[HV_TAMTRU_DIACHI] [nvarchar](250) NULL,
	[HV_DIENTHOAI] [nvarchar](50) NULL,
	[HV_EMAIL] [nvarchar](250) NULL,
	[HV_COQUAN] [nvarchar](250) NULL,
	[HV_COQUAN_DIACHI] [nvarchar](250) NULL,
	[HV_KT_TINHTRANG] [nvarchar](250) NULL,
	[HV_KT_TINHTRANG_CHITIET] [nvarchar](250) NULL,
	[HV_KT_KHAC] [nvarchar](250) NULL,
	[HV_KT_MUCDO] [nvarchar](250) NULL,
	[HV_PHUONGTIEN_DILAI] [nvarchar](250) NULL,
	[HV_TINHTRANG_SUCKHOE] [nvarchar](250) NULL,
	[HV_KT_NGUYENNHAN] [nvarchar](250) NULL,
	[HV_KT_NGUYENNHAN_CHITIET] [nvarchar](250) NULL,
	[HV_TINHTRANG_HONNHAN] [nvarchar](250) NULL,
	[HV_VOCHONG] [nvarchar](250) NULL,
	[HV_SOCON] [int] NULL,
	[HV_CON1_TEN] [nvarchar](250) NULL,
	[HV_CON1_NGAYSINH] [date] NULL,
	[HV_CON1_GIOITINH] [nvarchar](50) NULL,
	[HV_CON1_HOCTRUONG] [nvarchar](250) NULL,
	[HV_CON2_TEN] [nvarchar](250) NULL,
	[HV_CON2_NGAYSINH] [date] NULL,
	[HV_CON2_GIOITINH] [nvarchar](50) NULL,
	[HV_CON2_HOCTRUONG] [nvarchar](250) NULL,
	[HV_PHONGTRAO_THETHAO] [nvarchar](250) NULL,
	[HV_PHONGTRAO_MONGMUON] [nvarchar](250) NULL,
	[HV_NGUYENVONG] [nvarchar](250) NULL,
	[HV_DUNGCU_HOTRO] [nvarchar](50) NULL,
	[HV_DCHT_THOIDIEM_NHAN] [date] NULL,
	[HV_DCHT_TU_TOCHUC] [nvarchar](250) NULL,
	[HV_DCHT_TINHTRANG] [nvarchar](250) NULL,
	[HV_BTXH_NHAN_HANGTHANG] [bit] NULL,
	[HV_BTXH_TIEN_HANGTHANG] [int] NULL,
	[HV_BTXH_KHAC] [nvarchar](250) NULL,
	[HV_BHYT_MIENPHI] [bit] NULL,
	[HV_QUYETDINH_CONGNHAN_KT] [bit] NULL,
	[HV_GIAY_CHUNGNHAN_KT] [bit] NULL,
	[HV_THE_KHUYETTAT] [nvarchar](250) NULL,
	[HV_GIADINH_CHINHSACH] [bit] NULL,
	[HV_NOI_SINH_SONG] [nvarchar](250) NULL,
	[HV_DIEUKIEN_SONG_KHAC] [nvarchar](250) NULL,
	[HV_NHA] [nvarchar](50) NULL,
	[HV_SONG_VOI] [nvarchar](50) NULL,
	[HV_SONG_VOI_CHITIET] [nvarchar](250) NULL,
	[HV_CHAMSOC_BANTHAN] [nvarchar](50) NULL,
	[HV_HOTRO_BOI_NGUOIKHAC] [nvarchar](250) NULL,
	[HV_VIECLAM] [nvarchar](250) NULL,
	[HV_VIECLAM_THUNHAP] [int] NULL,
	[HV_TRE_DIHOC] [bit] NULL,
	[HV_NHUCAU] [nvarchar](250) NULL,
	[HV_THANHVIEN_HOI] [nvarchar](250) NULL,
 CONSTRAINT [PK_QL_HOIVIEN] PRIMARY KEY CLUSTERED 
(
	[HV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_USERS]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_USERS](
	[USER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](50) NULL,
	[USER_FULLNAME] [nvarchar](50) NULL,
	[USER_PASS] [nvarchar](250) NULL,
	[USER_LOCK] [bit] NULL,
	[USER_ADMIN] [bit] NULL,
 CONSTRAINT [PK_QL_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_USERS_PERMISSION]    Script Date: 29/05/2019 5:18:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_USERS_PERMISSION](
	[PER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [bigint] NULL,
	[PER_NAME] [int] NULL,
	[PER_VIEW] [bit] NULL,
	[PER_ADD] [bit] NULL,
	[PER_MODIFY] [bit] NULL,
	[PER_DELETE] [bit] NULL,
	[PER_PRINT] [bit] NULL,
 CONSTRAINT [PK_QL_USER_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[PER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DM_CHAMSOC_BANTHAN] ON 

INSERT [dbo].[DM_CHAMSOC_BANTHAN] ([CSBT_ID], [CSBT_TEN], [CSBT_STT]) VALUES (1, N'NKT tự chăm sóc mình', 1)
INSERT [dbo].[DM_CHAMSOC_BANTHAN] ([CSBT_ID], [CSBT_TEN], [CSBT_STT]) VALUES (2, N'NKT được sự hỗ trợ của gia đình', 2)
INSERT [dbo].[DM_CHAMSOC_BANTHAN] ([CSBT_ID], [CSBT_TEN], [CSBT_STT]) VALUES (3, N'NKT có người hỗ trợ riêng', 3)
SET IDENTITY_INSERT [dbo].[DM_CHAMSOC_BANTHAN] OFF
SET IDENTITY_INSERT [dbo].[DM_CHUCVU_HOI] ON 

INSERT [dbo].[DM_CHUCVU_HOI] ([CV_ID], [CV_TEN], [CV_STT]) VALUES (1, N'Chi hội NKT QNK - Chi hội trưởng', NULL)
INSERT [dbo].[DM_CHUCVU_HOI] ([CV_ID], [CV_TEN], [CV_STT]) VALUES (2, N'Chi hội NKT QNK - Chi hội phó', NULL)
INSERT [dbo].[DM_CHUCVU_HOI] ([CV_ID], [CV_TEN], [CV_STT]) VALUES (3, N'Chi hội NKT QNK - Ủy viên', NULL)
SET IDENTITY_INSERT [dbo].[DM_CHUCVU_HOI] OFF
SET IDENTITY_INSERT [dbo].[DM_DANTOC] ON 

INSERT [dbo].[DM_DANTOC] ([DT_ID], [DT_TEN], [DT_STT]) VALUES (1, N'Kinh', 1)
INSERT [dbo].[DM_DANTOC] ([DT_ID], [DT_TEN], [DT_STT]) VALUES (2, N'Khơ me', 2)
INSERT [dbo].[DM_DANTOC] ([DT_ID], [DT_TEN], [DT_STT]) VALUES (3, N'Chăm', 3)
SET IDENTITY_INSERT [dbo].[DM_DANTOC] OFF
SET IDENTITY_INSERT [dbo].[DM_DUNGCU_HOTRO] ON 

INSERT [dbo].[DM_DUNGCU_HOTRO] ([DCHT_ID], [DCHT_TEN], [DCHT_STT]) VALUES (1, N'Nạng', 1)
INSERT [dbo].[DM_DUNGCU_HOTRO] ([DCHT_ID], [DCHT_TEN], [DCHT_STT]) VALUES (2, N'Nẹp', 2)
INSERT [dbo].[DM_DUNGCU_HOTRO] ([DCHT_ID], [DCHT_TEN], [DCHT_STT]) VALUES (3, N'Xe lăn', 3)
SET IDENTITY_INSERT [dbo].[DM_DUNGCU_HOTRO] OFF
SET IDENTITY_INSERT [dbo].[DM_HUYEN] ON 

INSERT [dbo].[DM_HUYEN] ([HUYEN_ID], [HUYEN_TEN], [HUYEN_DIENGIAI], [TINH_ID], [HUYEN_STT]) VALUES (1, N'Ninh Kiều', NULL, 1, 1)
INSERT [dbo].[DM_HUYEN] ([HUYEN_ID], [HUYEN_TEN], [HUYEN_DIENGIAI], [TINH_ID], [HUYEN_STT]) VALUES (2, N'Chợ Mới', NULL, 2, 1)
INSERT [dbo].[DM_HUYEN] ([HUYEN_ID], [HUYEN_TEN], [HUYEN_DIENGIAI], [TINH_ID], [HUYEN_STT]) VALUES (3, N'Đức Hòa', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[DM_HUYEN] OFF
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_MUCDO] ON 

INSERT [dbo].[DM_KHUYETTAT_MUCDO] ([MDKT_ID], [MDKT_TEN], [MDKT_STT]) VALUES (1, N'Nhẹ', 1)
INSERT [dbo].[DM_KHUYETTAT_MUCDO] ([MDKT_ID], [MDKT_TEN], [MDKT_STT]) VALUES (2, N'Nặng', 2)
INSERT [dbo].[DM_KHUYETTAT_MUCDO] ([MDKT_ID], [MDKT_TEN], [MDKT_STT]) VALUES (3, N'Đặc biệt nặng', 3)
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_MUCDO] OFF
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_NGUYENNHAN] ON 

INSERT [dbo].[DM_KHUYETTAT_NGUYENNHAN] ([NNKT_ID], [NNKT_TEN], [NNKT_STT]) VALUES (1, N'Do bẩm sinh', 1)
INSERT [dbo].[DM_KHUYETTAT_NGUYENNHAN] ([NNKT_ID], [NNKT_TEN], [NNKT_STT]) VALUES (2, N'Do bệnh', 2)
INSERT [dbo].[DM_KHUYETTAT_NGUYENNHAN] ([NNKT_ID], [NNKT_TEN], [NNKT_STT]) VALUES (3, N'Do tai nạn', 3)
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_NGUYENNHAN] OFF
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_TINHTRANG] ON 

INSERT [dbo].[DM_KHUYETTAT_TINHTRANG] ([TTKT_ID], [TTKT_TEN], [TTKT_STT]) VALUES (18, N'Khuyết tật trí tuệ', 18)
INSERT [dbo].[DM_KHUYETTAT_TINHTRANG] ([TTKT_ID], [TTKT_TEN], [TTKT_STT]) VALUES (22, N'Khuyết tật vận động', NULL)
INSERT [dbo].[DM_KHUYETTAT_TINHTRANG] ([TTKT_ID], [TTKT_TEN], [TTKT_STT]) VALUES (23, N'Khuyết tật nhìn', NULL)
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_TINHTRANG] OFF
SET IDENTITY_INSERT [dbo].[DM_NGHE_NGHIEP] ON 

INSERT [dbo].[DM_NGHE_NGHIEP] ([NN_ID], [NN_TEN], [NN_DIENGIAI], [NN_STT]) VALUES (1, N'Viên chức', NULL, 1)
INSERT [dbo].[DM_NGHE_NGHIEP] ([NN_ID], [NN_TEN], [NN_DIENGIAI], [NN_STT]) VALUES (2, N'Lập trình viên', NULL, 2)
INSERT [dbo].[DM_NGHE_NGHIEP] ([NN_ID], [NN_TEN], [NN_DIENGIAI], [NN_STT]) VALUES (3, N'Công tác xã hội', NULL, 3)
SET IDENTITY_INSERT [dbo].[DM_NGHE_NGHIEP] OFF
SET IDENTITY_INSERT [dbo].[DM_NGOAINGU] ON 

INSERT [dbo].[DM_NGOAINGU] ([NN_ID], [NN_TEN], [NN_STT]) VALUES (1, N'Đại học Anh ngữ', 6)
INSERT [dbo].[DM_NGOAINGU] ([NN_ID], [NN_TEN], [NN_STT]) VALUES (2, N'Đại học Pháp ngữ', 9)
INSERT [dbo].[DM_NGOAINGU] ([NN_ID], [NN_TEN], [NN_STT]) VALUES (3, N'Đại học Nga ngữ', 8)
SET IDENTITY_INSERT [dbo].[DM_NGOAINGU] OFF
SET IDENTITY_INSERT [dbo].[DM_NHUCAU] ON 

INSERT [dbo].[DM_NHUCAU] ([NC_ID], [NC_TEN], [NC_STT]) VALUES (1, N'N/c BHYT miễn phí', 1)
INSERT [dbo].[DM_NHUCAU] ([NC_ID], [NC_TEN], [NC_STT]) VALUES (2, N'N/c PHCN (tập vật lý trị liệu, phẫu thuật...)', 2)
INSERT [dbo].[DM_NHUCAU] ([NC_ID], [NC_TEN], [NC_STT]) VALUES (3, N'N/c trợ giúp học văn hóa', 3)
SET IDENTITY_INSERT [dbo].[DM_NHUCAU] OFF
SET IDENTITY_INSERT [dbo].[DM_NOI_O_NHA] ON 

INSERT [dbo].[DM_NOI_O_NHA] ([NO_NHA_ID], [NO_NHA_TEN], [NO_NHA_STT]) VALUES (1, N'Nhà có bậc thềm cao', 1)
INSERT [dbo].[DM_NOI_O_NHA] ([NO_NHA_ID], [NO_NHA_TEN], [NO_NHA_STT]) VALUES (2, N'Nhà có bậc tam cấp', 2)
INSERT [dbo].[DM_NOI_O_NHA] ([NO_NHA_ID], [NO_NHA_TEN], [NO_NHA_STT]) VALUES (3, N'Nhà vệ sinh dễ tiếp cận', 3)
SET IDENTITY_INSERT [dbo].[DM_NOI_O_NHA] OFF
SET IDENTITY_INSERT [dbo].[DM_NOI_O_SONG_VOI] ON 

INSERT [dbo].[DM_NOI_O_SONG_VOI] ([NOSV_ID], [NOSV_TEN], [NOSV_STT]) VALUES (1, N'NKT đang sống với Bố mẹ', 1)
INSERT [dbo].[DM_NOI_O_SONG_VOI] ([NOSV_ID], [NOSV_TEN], [NOSV_STT]) VALUES (2, N'NKT đang sống với con cái', 2)
INSERT [dbo].[DM_NOI_O_SONG_VOI] ([NOSV_ID], [NOSV_TEN], [NOSV_STT]) VALUES (3, N'NKT đang sống với vợ/chồng', 3)
SET IDENTITY_INSERT [dbo].[DM_NOI_O_SONG_VOI] OFF
SET IDENTITY_INSERT [dbo].[DM_NOI_SINH_SONG] ON 

INSERT [dbo].[DM_NOI_SINH_SONG] ([NSS_ID], [NSS_TEN], [NSS_STT]) VALUES (1, N'Nhà của gia đình', 1)
INSERT [dbo].[DM_NOI_SINH_SONG] ([NSS_ID], [NSS_TEN], [NSS_STT]) VALUES (2, N'Nhà trọ', 2)
INSERT [dbo].[DM_NOI_SINH_SONG] ([NSS_ID], [NSS_TEN], [NSS_STT]) VALUES (3, N'Nhà riêng', 3)
SET IDENTITY_INSERT [dbo].[DM_NOI_SINH_SONG] OFF
SET IDENTITY_INSERT [dbo].[DM_PHUONGTIEN_DILAI] ON 

INSERT [dbo].[DM_PHUONGTIEN_DILAI] ([PT_ID], [PT_TEN], [PT_STT]) VALUES (1, N'Xe 3 bánh', NULL)
INSERT [dbo].[DM_PHUONGTIEN_DILAI] ([PT_ID], [PT_TEN], [PT_STT]) VALUES (2, N'Xe 2 bánh', NULL)
INSERT [dbo].[DM_PHUONGTIEN_DILAI] ([PT_ID], [PT_TEN], [PT_STT]) VALUES (3, N'Người nhà đưa đón', NULL)
SET IDENTITY_INSERT [dbo].[DM_PHUONGTIEN_DILAI] OFF
SET IDENTITY_INSERT [dbo].[DM_THANHVIEN_HOI] ON 

INSERT [dbo].[DM_THANHVIEN_HOI] ([TVH_ID], [TVH_TEN], [TVH_STT]) VALUES (1, N'Thành viên Hội NKT TPCT', 1)
INSERT [dbo].[DM_THANHVIEN_HOI] ([TVH_ID], [TVH_TEN], [TVH_STT]) VALUES (2, N'Thành viên CLB PNKT', 2)
INSERT [dbo].[DM_THANHVIEN_HOI] ([TVH_ID], [TVH_TEN], [TVH_STT]) VALUES (3, N'Thành viên CLB Người Điếc TPCT', 3)
SET IDENTITY_INSERT [dbo].[DM_THANHVIEN_HOI] OFF
SET IDENTITY_INSERT [dbo].[DM_TINH] ON 

INSERT [dbo].[DM_TINH] ([TINH_ID], [TINH_TEN], [TINH_DIENGIAI], [TINH_STT]) VALUES (1, N'Cần Thơ', N'Trực thuộc trung ương', 1)
INSERT [dbo].[DM_TINH] ([TINH_ID], [TINH_TEN], [TINH_DIENGIAI], [TINH_STT]) VALUES (2, N'An Giang', NULL, 2)
INSERT [dbo].[DM_TINH] ([TINH_ID], [TINH_TEN], [TINH_DIENGIAI], [TINH_STT]) VALUES (3, N'Long An', NULL, 3)
SET IDENTITY_INSERT [dbo].[DM_TINH] OFF
SET IDENTITY_INSERT [dbo].[DM_TINHTRANG_HONNHAN] ON 

INSERT [dbo].[DM_TINHTRANG_HONNHAN] ([TTHN_ID], [TTHN_TEN], [TTHN_STT]) VALUES (1, N'Đã lập gia đình', 3)
INSERT [dbo].[DM_TINHTRANG_HONNHAN] ([TTHN_ID], [TTHN_TEN], [TTHN_STT]) VALUES (2, N'Độc thân', 1)
INSERT [dbo].[DM_TINHTRANG_HONNHAN] ([TTHN_ID], [TTHN_TEN], [TTHN_STT]) VALUES (3, N'Mẹ/Cha đơn thân', 2)
SET IDENTITY_INSERT [dbo].[DM_TINHTRANG_HONNHAN] OFF
SET IDENTITY_INSERT [dbo].[DM_TONGIAO] ON 

INSERT [dbo].[DM_TONGIAO] ([TG_ID], [TG_TEN], [TG_STT]) VALUES (1, N'Phật giáo', 1)
INSERT [dbo].[DM_TONGIAO] ([TG_ID], [TG_TEN], [TG_STT]) VALUES (2, N'Thiên chúa giáo', 2)
INSERT [dbo].[DM_TONGIAO] ([TG_ID], [TG_TEN], [TG_STT]) VALUES (3, N'Tin lành', 3)
SET IDENTITY_INSERT [dbo].[DM_TONGIAO] OFF
SET IDENTITY_INSERT [dbo].[DM_TRINH_DO_CHUYEN_MON] ON 

INSERT [dbo].[DM_TRINH_DO_CHUYEN_MON] ([CM_ID], [CM_TEN], [CM_DIENGIAI], [CM_STT]) VALUES (1, N'Đại học', NULL, 4)
INSERT [dbo].[DM_TRINH_DO_CHUYEN_MON] ([CM_ID], [CM_TEN], [CM_DIENGIAI], [CM_STT]) VALUES (2, N'Tiến sĩ', NULL, 6)
INSERT [dbo].[DM_TRINH_DO_CHUYEN_MON] ([CM_ID], [CM_TEN], [CM_DIENGIAI], [CM_STT]) VALUES (3, N'Thạc sĩ', NULL, 5)
SET IDENTITY_INSERT [dbo].[DM_TRINH_DO_CHUYEN_MON] OFF
SET IDENTITY_INSERT [dbo].[DM_TRINH_DO_HOC_VAN] ON 

INSERT [dbo].[DM_TRINH_DO_HOC_VAN] ([HV_ID], [HV_TEN], [HV_DIENGIAI], [HV_STT]) VALUES (1, N'Trung học cơ sở', NULL, NULL)
INSERT [dbo].[DM_TRINH_DO_HOC_VAN] ([HV_ID], [HV_TEN], [HV_DIENGIAI], [HV_STT]) VALUES (3, N'Trung học phổ thông', NULL, NULL)
INSERT [dbo].[DM_TRINH_DO_HOC_VAN] ([HV_ID], [HV_TEN], [HV_DIENGIAI], [HV_STT]) VALUES (4, N'Tiểu học', NULL, NULL)
SET IDENTITY_INSERT [dbo].[DM_TRINH_DO_HOC_VAN] OFF
SET IDENTITY_INSERT [dbo].[DM_XA] ON 

INSERT [dbo].[DM_XA] ([XA_ID], [XA_TEN], [HUYEN_ID], [TINH_ID], [XA_DIENGIAI], [XA_STT]) VALUES (1, N'Xuân Khánh', 1, 1, NULL, 13)
INSERT [dbo].[DM_XA] ([XA_ID], [XA_TEN], [HUYEN_ID], [TINH_ID], [XA_DIENGIAI], [XA_STT]) VALUES (2, N'An Cư', 1, 1, NULL, 2)
INSERT [dbo].[DM_XA] ([XA_ID], [XA_TEN], [HUYEN_ID], [TINH_ID], [XA_DIENGIAI], [XA_STT]) VALUES (3, N'An Lạc', 1, 1, NULL, 6)
SET IDENTITY_INSERT [dbo].[DM_XA] OFF
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_ASXH] ON 

INSERT [dbo].[QL_HOATDONG_ASXH] ([ASXH_ID], [ASXH_LOAI_ID], [ASXH_TEN], [ASXH_THOIGIAN_BATDAU], [ASXH_THOIGIAN_KETTHUC], [ASXH_TONGSO_NGAY], [ASXH_DIADIEM], [ASXH_SOLUONG], [ASXH_TONGSO_TIEN], [ASXH_DOITUONG_TEN], [ASXH_DOITUONG_ID], [ASXH_DOITUONG_KHAC], [ASXH_DONVI_THUCHIEN], [ASXH_NOIDUNG]) VALUES (1, 1, N'Chỉnh sửa môi hàm ếch', CAST(N'2019-02-05 00:00:00.000' AS DateTime), CAST(N'2019-02-15 00:00:00.000' AS DateTime), 11, N'Trung tâm chỉnh hình', 20, 450000, N'Nguyễn Văn A
Trương Văn B', NULL, NULL, N'Công ty TNHH A', N'Chương trình hỗ trợ')
INSERT [dbo].[QL_HOATDONG_ASXH] ([ASXH_ID], [ASXH_LOAI_ID], [ASXH_TEN], [ASXH_THOIGIAN_BATDAU], [ASXH_THOIGIAN_KETTHUC], [ASXH_TONGSO_NGAY], [ASXH_DIADIEM], [ASXH_SOLUONG], [ASXH_TONGSO_TIEN], [ASXH_DOITUONG_TEN], [ASXH_DOITUONG_ID], [ASXH_DOITUONG_KHAC], [ASXH_DONVI_THUCHIEN], [ASXH_NOIDUNG]) VALUES (3, 2, N'tặng quà', CAST(N'2019-02-06 00:00:00.000' AS DateTime), CAST(N'2019-02-14 00:00:00.000' AS DateTime), 9, N'fggdf', 434, 423423, N'dgẻ', NULL, NULL, N'gdfg', N'tẻỷew')
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_ASXH] OFF
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_DAYNGHE] ON 

INSERT [dbo].[QL_HOATDONG_DAYNGHE] ([DN_ID], [DN_TEN], [DN_THOIGIAN_BATDAU], [DN_THOIGIAN_KETTHUC], [DN_TONGSO_NGAY], [DN_DIADIEM], [DN_NGHE], [DN_DONVI_THUCHIEN], [DN_SOLUONG], [DN_SOLUONG_NU], [DN_TONGTIEN], [DN_DOITUONG_THAMGIA], [DN_DOITUONG_THAMGIA_ID], [DN_DOITUONG_KHAC], [DN_NOIDUNG], [DN_NGUOI_HOTRO]) VALUES (1, N'Khóa dạy vẽ', CAST(N'2019-02-01 00:00:00.000' AS DateTime), CAST(N'2019-02-03 00:00:00.000' AS DateTime), 3, N'Cơ sở nhịp cầu', N'Vẽ mô hình nhà', N'tài trợ của hội', 10, 0, 269999, N'Nguyễn Văn A, Trương Thị Ánh Tuyết', NULL, NULL, N'Tập vẻ', N'NGuyền Thị Hoa')
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_DAYNGHE] OFF
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_HNXH] ON 

INSERT [dbo].[QL_HOATDONG_HNXH] ([HNXH_ID], [HNXH_LOAI_ID], [HNXH_TEN], [HNXH_THOIGIAN_BATDAU], [HNXH_THOIGIAN_KETTHUC], [HNXH_TONGSO_NGAY], [HNXH_DIADIEM], [HNXH_SOLUONG], [HNXH_DOITUONG_TEN], [HNXH_DOITUONG_ID], [HNXH_DOITUONG_KHAC], [HNXH_TONGSO_TIEN], [HNXH_DONVI_THUCHIEN], [HNXH_NOIDUNG]) VALUES (1, 2, N'lien hoan', CAST(N'2019-02-01 00:00:00.000' AS DateTime), CAST(N'2019-02-02 00:00:00.000' AS DateTime), 2, N'1', 34, NULL, NULL, NULL, 43534, N'2', N'dbdfb egểt')
INSERT [dbo].[QL_HOATDONG_HNXH] ([HNXH_ID], [HNXH_LOAI_ID], [HNXH_TEN], [HNXH_THOIGIAN_BATDAU], [HNXH_THOIGIAN_KETTHUC], [HNXH_TONGSO_NGAY], [HNXH_DIADIEM], [HNXH_SOLUONG], [HNXH_DOITUONG_TEN], [HNXH_DOITUONG_ID], [HNXH_DOITUONG_KHAC], [HNXH_TONGSO_TIEN], [HNXH_DONVI_THUCHIEN], [HNXH_NOIDUNG]) VALUES (2, 6, N'Chạy bộ', CAST(N'2019-01-31 00:00:00.000' AS DateTime), CAST(N'2019-02-11 00:00:00.000' AS DateTime), 12, N'rưetr', 234, NULL, NULL, NULL, 5462362, N'dgsd', N'')
INSERT [dbo].[QL_HOATDONG_HNXH] ([HNXH_ID], [HNXH_LOAI_ID], [HNXH_TEN], [HNXH_THOIGIAN_BATDAU], [HNXH_THOIGIAN_KETTHUC], [HNXH_TONGSO_NGAY], [HNXH_DIADIEM], [HNXH_SOLUONG], [HNXH_DOITUONG_TEN], [HNXH_DOITUONG_ID], [HNXH_DOITUONG_KHAC], [HNXH_TONGSO_TIEN], [HNXH_DONVI_THUCHIEN], [HNXH_NOIDUNG]) VALUES (3, 6, N'chạy bộ', CAST(N'2019-02-06 00:00:00.000' AS DateTime), CAST(N'2019-02-14 00:00:00.000' AS DateTime), 9, N'trung tâm', 234325, NULL, NULL, NULL, 3463462, N'clb', N'fs gs gd')
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_HNXH] OFF
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_HOITHAO] ON 

INSERT [dbo].[QL_HOATDONG_HOITHAO] ([HT_ID], [HT_LOAI_ID], [HT_TEN], [HT_THOIGIAN_BATDAU], [HT_THOIGIAN_KETTHUC], [HT_TONGSO_NGAY], [HT_DIADIEM], [HT_NOIDUNG], [HT_DONVI_THUCHIEN], [HT_SOLUONG], [HT_DOITUONG_TEN], [HT_DOITUONG_ID], [HT_DOITUONG_KHAC], [HT_SOTIEN_HOTRO], [HT_NGUOI_HOTRO], [HT_NGUOI_HOTRO_THULAO]) VALUES (1, 1, N'a', CAST(N'2019-02-05 00:00:00.000' AS DateTime), CAST(N'2019-02-10 00:00:00.000' AS DateTime), 6, N'b', N'd 12', N'c', 10, NULL, NULL, NULL, NULL, N'', NULL)
INSERT [dbo].[QL_HOATDONG_HOITHAO] ([HT_ID], [HT_LOAI_ID], [HT_TEN], [HT_THOIGIAN_BATDAU], [HT_THOIGIAN_KETTHUC], [HT_TONGSO_NGAY], [HT_DIADIEM], [HT_NOIDUNG], [HT_DONVI_THUCHIEN], [HT_SOLUONG], [HT_DOITUONG_TEN], [HT_DOITUONG_ID], [HT_DOITUONG_KHAC], [HT_SOTIEN_HOTRO], [HT_NGUOI_HOTRO], [HT_NGUOI_HOTRO_THULAO]) VALUES (2, 2, N'Hội nghị gặp mặt giữa các nhóm tình nguyện', CAST(N'2019-02-10 00:00:00.000' AS DateTime), CAST(N'2019-02-12 00:00:00.000' AS DateTime), 3, N'Trung tâm VinCom', N'Hướng dẫn chi tiết tình nguyện', N'CLB Cần Thơ', 200, NULL, NULL, NULL, NULL, N'', NULL)
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_HOITHAO] OFF
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_TAPHUAN] ON 

INSERT [dbo].[QL_HOATDONG_TAPHUAN] ([TH_ID], [TH_LOAI_ID], [TH_TEN], [TH_THOIGIAN_BATDAU], [TH_THOIGIAN_KETTHUC], [TH_TONGSO_NGAY], [TH_DIADIEM], [TH_DONVI_THUCHIEN], [TH_NOIDUNG], [TH_SOLUONG], [TH_DOITUONG_TEN], [TH_DOITUONG_ID], [TH_DOITUONG_KHAC], [TH_SOTIEN_1NGUOI], [TH_TONGTIEN], [TH_GIANGVIEN], [TH_GIANGVIEN_THULAO], [TH_NGUOI_HOTRO], [TH_NGUOI_HOTRO_THULAO]) VALUES (2, 2, N'An ninh quốc phòng', CAST(N'2019-01-20 00:00:00.000' AS DateTime), CAST(N'2019-01-21 00:00:00.000' AS DateTime), 2, N'TRường Đại học CẤn Thơ', NULL, N'1', 10, NULL, NULL, NULL, NULL, NULL, N'2', 3, N'4', 5)
INSERT [dbo].[QL_HOATDONG_TAPHUAN] ([TH_ID], [TH_LOAI_ID], [TH_TEN], [TH_THOIGIAN_BATDAU], [TH_THOIGIAN_KETTHUC], [TH_TONGSO_NGAY], [TH_DIADIEM], [TH_DONVI_THUCHIEN], [TH_NOIDUNG], [TH_SOLUONG], [TH_DOITUONG_TEN], [TH_DOITUONG_ID], [TH_DOITUONG_KHAC], [TH_SOTIEN_1NGUOI], [TH_TONGTIEN], [TH_GIANGVIEN], [TH_GIANGVIEN_THULAO], [TH_NGUOI_HOTRO], [TH_NGUOI_HOTRO_THULAO]) VALUES (3, 1, N'eqưe', CAST(N'2019-01-23 00:00:00.000' AS DateTime), CAST(N'2019-01-24 00:00:00.000' AS DateTime), 2, N'fấ', NULL, N'', NULL, NULL, NULL, NULL, NULL, NULL, N'', NULL, N'', NULL)
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_TAPHUAN] OFF
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_VAYVON] ON 

INSERT [dbo].[QL_HOATDONG_VAYVON] ([VV_ID], [VV_TEN], [VV_THOIGIAN_BATDAU], [VV_THOIGIAN_KETTHUC], [VV_TONGSO_NGAY], [VV_DIADIEM], [VV_SOLUONG], [VV_SOLUONG_NU], [VV_NGUON_VAY], [VV_TIEN_VAY], [VV_THOIGIAN_TRA], [VV_PHUONGTHUC_TRA], [VV_DOITUONG_TEN], [VV_DOITUONG_ID], [VV_DOITUONG_KHAC], [VV_NOIDUNG]) VALUES (4, N'nguồn quỹ "Cuộc sống vẫn tươi đẹp" ', CAST(N'2019-01-07 00:00:00.000' AS DateTime), CAST(N'2019-11-07 00:00:00.000' AS DateTime), 305, N'Cần Thơ', 1, 1, N'tổ chức Đông Tây Hội Ngộ tài trợ.', 6000000, NULL, N'Tiền mặt', N'VÕ THỊ HỒNG GẤM', N'79', N'', N'Vay không lãi suất')
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_VAYVON] OFF
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_VIECLAM] ON 

INSERT [dbo].[QL_HOATDONG_VIECLAM] ([VL_ID], [VL_LOAI_ID], [VL_TEN], [VL_THOIGIAN_BATDAU], [VL_THOIGIAN_KETTHUC], [VL_TONGSO_NGAY], [VL_DIADIEM], [VL_DONVI_GIOITHIEU], [VL_SOLUONG], [VL_SOLUONG_NU], [VL_THUNHAP_THANG], [VL_DOITUONG_TEN], [VL_DOITUONG_ID], [VL_DOITUONG_KHAC], [VL_NOIDUNG]) VALUES (2, 1, N'24', CAST(N'2019-02-23 00:00:00.000' AS DateTime), CAST(N'2019-02-27 00:00:00.000' AS DateTime), 5, N'3', N'14', 23, 10, 34234, N'rưẻ', NULL, NULL, N'rưẻwe')
INSERT [dbo].[QL_HOATDONG_VIECLAM] ([VL_ID], [VL_LOAI_ID], [VL_TEN], [VL_THOIGIAN_BATDAU], [VL_THOIGIAN_KETTHUC], [VL_TONGSO_NGAY], [VL_DIADIEM], [VL_DONVI_GIOITHIEU], [VL_SOLUONG], [VL_SOLUONG_NU], [VL_THUNHAP_THANG], [VL_DOITUONG_TEN], [VL_DOITUONG_ID], [VL_DOITUONG_KHAC], [VL_NOIDUNG]) VALUES (3, 2, N'Giải quyết việc làm', CAST(N'2019-02-20 00:00:00.000' AS DateTime), CAST(N'2019-02-20 00:00:00.000' AS DateTime), 1, N'sf', N'à', 34, 23, 5235, N'ttẻ', NULL, NULL, N'tẻt')
INSERT [dbo].[QL_HOATDONG_VIECLAM] ([VL_ID], [VL_LOAI_ID], [VL_TEN], [VL_THOIGIAN_BATDAU], [VL_THOIGIAN_KETTHUC], [VL_TONGSO_NGAY], [VL_DIADIEM], [VL_DONVI_GIOITHIEU], [VL_SOLUONG], [VL_SOLUONG_NU], [VL_THUNHAP_THANG], [VL_DOITUONG_TEN], [VL_DOITUONG_ID], [VL_DOITUONG_KHAC], [VL_NOIDUNG]) VALUES (4, 2, N'Giới thiệu việc làm cho hội viên mới', CAST(N'2019-01-16 00:00:00.000' AS DateTime), CAST(N'2019-01-16 00:00:00.000' AS DateTime), 1, N'Cần Thơ', N'Bùi Thị Hồng Nga', 1, 1, NULL, N'', N'', N'HUỲNH THỊ HỒNG CHÂU', N'Làm thu ngân tại Khách sạn Đăng Khoa. ')
SET IDENTITY_INSERT [dbo].[QL_HOATDONG_VIECLAM] OFF
SET IDENTITY_INSERT [dbo].[QL_HOIVIEN] ON 

SET IDENTITY_INSERT [dbo].[QL_HOIVIEN] OFF
SET IDENTITY_INSERT [dbo].[QL_USERS] ON 

INSERT [dbo].[QL_USERS] ([USER_ID], [USER_NAME], [USER_FULLNAME], [USER_PASS], [USER_LOCK], [USER_ADMIN]) VALUES (2, N'ltpthao', N'Lê Thị Phương Thảo', N'123456', 0, 1)
INSERT [dbo].[QL_USERS] ([USER_ID], [USER_NAME], [USER_FULLNAME], [USER_PASS], [USER_LOCK], [USER_ADMIN]) VALUES (3, N'admin', N'admin', N'admin', 0, NULL)
SET IDENTITY_INSERT [dbo].[QL_USERS] OFF
SET IDENTITY_INSERT [dbo].[QL_USERS_PERMISSION] ON 

INSERT [dbo].[QL_USERS_PERMISSION] ([PER_ID], [USER_ID], [PER_NAME], [PER_VIEW], [PER_ADD], [PER_MODIFY], [PER_DELETE], [PER_PRINT]) VALUES (1, 2, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[QL_USERS_PERMISSION] ([PER_ID], [USER_ID], [PER_NAME], [PER_VIEW], [PER_ADD], [PER_MODIFY], [PER_DELETE], [PER_PRINT]) VALUES (2, 2, 2, 1, 1, 1, 1, 1)
INSERT [dbo].[QL_USERS_PERMISSION] ([PER_ID], [USER_ID], [PER_NAME], [PER_VIEW], [PER_ADD], [PER_MODIFY], [PER_DELETE], [PER_PRINT]) VALUES (3, 2, 3, 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[QL_USERS_PERMISSION] OFF
ALTER TABLE [dbo].[DM_HUYEN]  WITH CHECK ADD  CONSTRAINT [FK_DM_HUYEN_DM_TINH] FOREIGN KEY([TINH_ID])
REFERENCES [dbo].[DM_TINH] ([TINH_ID])
GO
ALTER TABLE [dbo].[DM_HUYEN] CHECK CONSTRAINT [FK_DM_HUYEN_DM_TINH]
GO
ALTER TABLE [dbo].[DM_XA]  WITH CHECK ADD  CONSTRAINT [FK_DM_XA_DM_HUYEN] FOREIGN KEY([HUYEN_ID])
REFERENCES [dbo].[DM_HUYEN] ([HUYEN_ID])
GO
ALTER TABLE [dbo].[DM_XA] CHECK CONSTRAINT [FK_DM_XA_DM_HUYEN]
GO
ALTER TABLE [dbo].[DM_XA]  WITH CHECK ADD  CONSTRAINT [FK_DM_XA_DM_TINH] FOREIGN KEY([TINH_ID])
REFERENCES [dbo].[DM_TINH] ([TINH_ID])
GO
ALTER TABLE [dbo].[DM_XA] CHECK CONSTRAINT [FK_DM_XA_DM_TINH]
GO
ALTER TABLE [dbo].[QL_HOATDONG_VIECLAM]  WITH CHECK ADD  CONSTRAINT [FK_QL_HOATDONG_GIAIQUYET_VIECLAM_QL_HOATDONG_GIAIQUYET_VIECLAM] FOREIGN KEY([VL_ID])
REFERENCES [dbo].[QL_HOATDONG_VIECLAM] ([VL_ID])
GO
ALTER TABLE [dbo].[QL_HOATDONG_VIECLAM] CHECK CONSTRAINT [FK_QL_HOATDONG_GIAIQUYET_VIECLAM_QL_HOATDONG_GIAIQUYET_VIECLAM]
GO
ALTER TABLE [dbo].[QL_USERS_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_QL_USERS_PERMISSION_QL_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[QL_USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[QL_USERS_PERMISSION] CHECK CONSTRAINT [FK_QL_USERS_PERMISSION_QL_USERS]
GO
USE [master]
GO
