USE [master]
GO
/****** Object:  Database [QL_HOIVIEN_KT]    Script Date: 03/01/2019 9:52:26 CH ******/
CREATE DATABASE [QL_HOIVIEN_KT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_HOIVIEN_KT', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QL_HOIVIEN_KT.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_HOIVIEN_KT_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QL_HOIVIEN_KT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_HOIVIEN_KT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_HOIVIEN_KT]
GO
/****** Object:  Table [dbo].[DM_CHAMSOC_BANTHAN]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_CHAMSOC_BANTHAN](
	[CSBT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CSBT_TEN] [nvarchar](250) NULL,
	[CSBT_STT] [int] NULL,
 CONSTRAINT [PK_DM_CHAMSOC_BANTHAN] PRIMARY KEY CLUSTERED 
(
	[CSBT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_CHUCVU_HOI]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_CHUCVU_HOI](
	[CV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CV_TEN] [nvarchar](250) NULL,
	[CV_STT] [int] NULL,
 CONSTRAINT [PK_DM_CHUCVU_HOI] PRIMARY KEY CLUSTERED 
(
	[CV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_DANTOC]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_DANTOC](
	[DT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DT_TEN] [nvarchar](250) NULL,
	[DT_STT] [int] NULL,
 CONSTRAINT [PK_DM_DANTOC] PRIMARY KEY CLUSTERED 
(
	[DT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_DUNGCU_HOTRO]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_DUNGCU_HOTRO](
	[DCHT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DCHT_TEN] [nvarchar](250) NULL,
	[DCHT_STT] [int] NULL,
 CONSTRAINT [PK_DM_DUNGCU_HOTRO] PRIMARY KEY CLUSTERED 
(
	[DCHT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_HUYEN]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_HUYEN](
	[HUYEN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HUYEN_TEN] [nvarchar](150) NULL,
	[HUYEN_DIENGIAI] [nvarchar](250) NULL,
	[TINH_ID] [bigint] NULL,
	[HUYEN_STT] [int] NULL,
 CONSTRAINT [PK_DM_HUYEN] PRIMARY KEY CLUSTERED 
(
	[HUYEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_KHUYETTAT_MUCDO]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KHUYETTAT_MUCDO](
	[MDKT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MDKT_TEN] [nvarchar](250) NULL,
	[MDKT_STT] [int] NULL,
 CONSTRAINT [PK_DM_MUCDO_KHUYETTAT] PRIMARY KEY CLUSTERED 
(
	[MDKT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_KHUYETTAT_NGUYENNHAN]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KHUYETTAT_NGUYENNHAN](
	[NNKT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NNKT_TEN] [nvarchar](250) NULL,
	[NNKT_STT] [int] NULL,
 CONSTRAINT [PK_DM_KHUYETTAT_NGUYENNHAN] PRIMARY KEY CLUSTERED 
(
	[NNKT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_KHUYETTAT_TINHTRANG]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KHUYETTAT_TINHTRANG](
	[TTKT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TTKT_TEN] [nvarchar](250) NULL,
	[TTKT_STT] [int] NULL,
 CONSTRAINT [PK_DM_TINHTRANG_KHUYETTAT] PRIMARY KEY CLUSTERED 
(
	[TTKT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NGHE_NGHIEP]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NGHE_NGHIEP](
	[NN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NN_TEN] [nvarchar](150) NULL,
	[NN_DIENGIAI] [nvarchar](250) NULL,
	[NN_STT] [int] NULL,
 CONSTRAINT [PK_DM_NGHE_NGHIEP] PRIMARY KEY CLUSTERED 
(
	[NN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NHUCAU]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NHUCAU](
	[NC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NC_TEN] [nvarchar](250) NULL,
	[NC_STT] [int] NULL,
 CONSTRAINT [PK_DM_NHUCAU] PRIMARY KEY CLUSTERED 
(
	[NC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NOI_O_NHA]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NOI_O_NHA](
	[NO_NHA_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NO_NHA_TEN] [nvarchar](250) NULL,
	[NO_NHA_STT] [int] NULL,
 CONSTRAINT [PK_DM_NOI_O_NHA] PRIMARY KEY CLUSTERED 
(
	[NO_NHA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NOI_O_SONG_VOI]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NOI_O_SONG_VOI](
	[NOSV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOSV_TEN] [nvarchar](250) NULL,
	[NOSV_STT] [int] NULL,
 CONSTRAINT [PK_DM_NOI_O_SONG_VOI] PRIMARY KEY CLUSTERED 
(
	[NOSV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NOI_SINH_SONG]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NOI_SINH_SONG](
	[NSS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NSS_TEN] [nvarchar](250) NULL,
	[NSS_STT] [int] NULL,
 CONSTRAINT [PK_DM_NOI_SINH_SONG] PRIMARY KEY CLUSTERED 
(
	[NSS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_PHUONGTIEN_DILAI]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_PHUONGTIEN_DILAI](
	[PT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PT_TEN] [nvarchar](250) NULL,
	[PT_STT] [int] NULL,
 CONSTRAINT [PK_DM_PHUONGTIEN_DILAI] PRIMARY KEY CLUSTERED 
(
	[PT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_THANHVIEN_HOI]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_THANHVIEN_HOI](
	[TVH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TVH_TEN] [nvarchar](250) NULL,
	[TVH_STT] [int] NULL,
 CONSTRAINT [PK_DM_THANHVIEN_HOI] PRIMARY KEY CLUSTERED 
(
	[TVH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TINH]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TINH](
	[TINH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TINH_TEN] [nvarchar](150) NULL,
	[TINH_DIENGIAI] [nvarchar](250) NULL,
	[TINH_STT] [int] NULL,
 CONSTRAINT [PK_DM_TINH] PRIMARY KEY CLUSTERED 
(
	[TINH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TINHTRANG_HONNHAN]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TINHTRANG_HONNHAN](
	[TTHN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TTHN_TEN] [nvarchar](250) NULL,
	[TTHN_STT] [int] NULL,
 CONSTRAINT [PK_DM_TINHTRANG_HONNHAN] PRIMARY KEY CLUSTERED 
(
	[TTHN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TONGIAO]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TONGIAO](
	[TG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TG_TEN] [nvarchar](250) NULL,
	[TG_STT] [int] NULL,
 CONSTRAINT [PK_DM_TONGIAO] PRIMARY KEY CLUSTERED 
(
	[TG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TRINH_DO_CHUYEN_MON]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TRINH_DO_CHUYEN_MON](
	[CM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CM_TEN] [nvarchar](150) NULL,
	[CM_DIENGIAI] [nvarchar](250) NULL,
	[CM_STT] [int] NULL,
 CONSTRAINT [PK_DM_TRINH_DO_CHUYEN_MON] PRIMARY KEY CLUSTERED 
(
	[CM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TRINH_DO_HOC_VAN]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TRINH_DO_HOC_VAN](
	[HV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HV_TEN] [nvarchar](150) NULL,
	[HV_DIENGIAI] [nvarchar](250) NULL,
	[HV_STT] [int] NULL,
 CONSTRAINT [PK_DM_TRINH_DO_HOC_VAN] PRIMARY KEY CLUSTERED 
(
	[HV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_XA]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_XA](
	[XA_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[XA_TEN] [nvarchar](150) NULL,
	[HUYEN_ID] [bigint] NULL,
	[TINH_ID] [bigint] NULL,
	[XA_DIENGIAI] [nvarchar](250) NULL,
	[XA_STT] [int] NULL,
 CONSTRAINT [PK_DM_XA] PRIMARY KEY CLUSTERED 
(
	[XA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HOIVIEN]    Script Date: 03/01/2019 9:52:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HOIVIEN](
	[HV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HV_TEN] [nvarchar](250) NULL,
	[HV_IMAGE] [image] NULL,
	[HV_GIOI_TINH] [nvarchar](10) NULL,
	[HV_DAN_TOC] [nvarchar](250) NULL,
	[HV_NGAY_SINH] [date] NULL,
	[HV_TON_GIAO] [nvarchar](250) NULL,
	[HV_NGHE_NGHIEP] [nvarchar](250) NULL,
	[HV_TRINHDO_VANHOA] [nvarchar](250) NULL,
	[HV_TRINHDO_CHUYENMON] [nvarchar](250) NULL,
	[HV_CMND] [nvarchar](20) NULL,
	[HV_CMND_NGAY] [date] NULL,
	[HV_CMND_NOICAP] [nvarchar](250) NULL,
	[HV_KHUYETTAT_NGAY] [date] NULL,
	[HV_CHUCVU] [nvarchar](250) NULL,
	[HV_THUONGTRU_DUONG] [nvarchar](250) NULL,
	[HV_THUONGTRU_KHUVUC] [nvarchar](250) NULL,
	[HV_THUONGTRU_PHUONG] [nvarchar](250) NULL,
	[HV_THUONGTRU_QUAN] [nvarchar](250) NULL,
	[HV_THUONGTRU_TP] [nvarchar](250) NULL,
	[HV_TAMTRU_DUONG] [nvarchar](250) NULL,
	[HV_TAMTRU_KHUVUC] [nvarchar](250) NULL,
	[HV_TAMTRU_PHUONG] [nvarchar](250) NULL,
	[HV_TAMTRU_QUAN] [nvarchar](250) NULL,
	[HV_TAMTRU_TP] [nvarchar](250) NULL,
	[HV_DIENTHOAI] [nvarchar](50) NULL,
	[HV_EMAIL] [nvarchar](250) NULL,
	[HV_DIACHI_COQUAN] [nvarchar](250) NULL,
	[HV_KT_TINHTRANG] [nvarchar](250) NULL,
	[HV_KT_TINHTRANG_CHITIET] [nvarchar](250) NULL,
	[HV_KT_KHAC] [nvarchar](250) NULL,
	[HV_KT_MUCDO] [nvarchar](250) NULL,
	[HV_PHUONGTIEN_DILAI] [nvarchar](250) NULL,
	[HV_TINHTRANG_SUCKHOE] [nvarchar](250) NULL,
	[HV_KT_NGUYENNHAN] [nvarchar](250) NULL,
	[HV_KT_NGUYENNHAN_CHITIET] [nvarchar](250) NULL,
	[HV_TINHTRANG_HONNHAN] [nvarchar](250) NULL,
	[HV_VOCHONG] [nvarchar](250) NULL,
	[HV_SOCON] [int] NULL,
	[HV_CON1_TEN] [nvarchar](250) NULL,
	[HV_CON1_NGAYSINH] [date] NULL,
	[HV_CON1_GIOITINH] [nvarchar](50) NULL,
	[HV_CON1_HOCTRUONG] [nvarchar](250) NULL,
	[HV_CON2_TEN] [nvarchar](250) NULL,
	[HV_CON2_NGAYSINH] [date] NULL,
	[HV_CON2_GIOITINH] [nvarchar](50) NULL,
	[HV_CON2_HOCTRUONG] [nvarchar](250) NULL,
	[HV_PHONGTRAO_THETHAO] [nvarchar](250) NULL,
	[HV_PHONGTRAO_MONGMUON] [nvarchar](250) NULL,
	[HV_NGUYENVONG] [nvarchar](250) NULL,
	[HV_DUNGCU_HOTRO] [nvarchar](50) NULL,
	[HV_DCHT_THOIDIEM_NHAN] [date] NULL,
	[HV_DCHT_TU_TOCHUC] [nvarchar](250) NULL,
	[HV_DCHT_TINHTRANG] [nvarchar](250) NULL,
	[HV_BTXH_NHAN_HANGTHANG] [bit] NULL,
	[HV_BTXH_TIEN_HANGTHANG] [int] NULL,
	[HV_BTXH_KHAC] [nvarchar](250) NULL,
	[HV_BHYT_MIENPHI] [bit] NULL,
	[HV_QUYETDINH_CONGNHAN_KT] [bit] NULL,
	[HV_GIAY_CHUNGNHAN_KT] [bit] NULL,
	[HV_THE_KHUYETTAT] [nvarchar](250) NULL,
	[HV_GIADINH_CHINHSACH] [bit] NULL,
	[HV_NOI_SINH_SONG] [nvarchar](250) NULL,
	[HV_DIEUKIEN_SONG_KHAC] [nvarchar](250) NULL,
	[HV_NHA] [nvarchar](50) NULL,
	[HV_SONG_VOI] [nvarchar](50) NULL,
	[HV_SONG_VOI_CHITIET] [nvarchar](250) NULL,
	[HV_CHAMSOC_BANTHAN] [nvarchar](50) NULL,
	[HV_HOTRO_BOI_NGUOIKHAC] [nvarchar](250) NULL,
	[HV_VIECLAM] [nvarchar](250) NULL,
	[HV_VIECLAM_THUNHAP] [int] NULL,
	[HV_TRE_DIHOC] [bit] NULL,
	[HV_NHUCAU] [nvarchar](250) NULL,
	[HV_THANHVIEN_HOI] [nvarchar](250) NULL,
 CONSTRAINT [PK_QL_HOIVIEN] PRIMARY KEY CLUSTERED 
(
	[HV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DM_CHAMSOC_BANTHAN] ON 

INSERT [dbo].[DM_CHAMSOC_BANTHAN] ([CSBT_ID], [CSBT_TEN], [CSBT_STT]) VALUES (1, N'NKT tự chăm sóc mình', 1)
INSERT [dbo].[DM_CHAMSOC_BANTHAN] ([CSBT_ID], [CSBT_TEN], [CSBT_STT]) VALUES (2, N'NKT được sự hỗ trợ của TV gia đình', 2)
INSERT [dbo].[DM_CHAMSOC_BANTHAN] ([CSBT_ID], [CSBT_TEN], [CSBT_STT]) VALUES (3, N'NKT có người hỗ trợ riêng', 3)
SET IDENTITY_INSERT [dbo].[DM_CHAMSOC_BANTHAN] OFF
SET IDENTITY_INSERT [dbo].[DM_CHUCVU_HOI] ON 

INSERT [dbo].[DM_CHUCVU_HOI] ([CV_ID], [CV_TEN], [CV_STT]) VALUES (1, N'Chi hội trưởng', 1)
INSERT [dbo].[DM_CHUCVU_HOI] ([CV_ID], [CV_TEN], [CV_STT]) VALUES (2, N'Chi hội phó', 2)
INSERT [dbo].[DM_CHUCVU_HOI] ([CV_ID], [CV_TEN], [CV_STT]) VALUES (3, N'Ủy viên', 3)
SET IDENTITY_INSERT [dbo].[DM_CHUCVU_HOI] OFF
SET IDENTITY_INSERT [dbo].[DM_DANTOC] ON 

INSERT [dbo].[DM_DANTOC] ([DT_ID], [DT_TEN], [DT_STT]) VALUES (1, N'Kinh', 1)
INSERT [dbo].[DM_DANTOC] ([DT_ID], [DT_TEN], [DT_STT]) VALUES (2, N'Khơ me', 2)
INSERT [dbo].[DM_DANTOC] ([DT_ID], [DT_TEN], [DT_STT]) VALUES (3, N'Chăm', 3)
SET IDENTITY_INSERT [dbo].[DM_DANTOC] OFF
SET IDENTITY_INSERT [dbo].[DM_DUNGCU_HOTRO] ON 

INSERT [dbo].[DM_DUNGCU_HOTRO] ([DCHT_ID], [DCHT_TEN], [DCHT_STT]) VALUES (1, N'Nạng', 1)
INSERT [dbo].[DM_DUNGCU_HOTRO] ([DCHT_ID], [DCHT_TEN], [DCHT_STT]) VALUES (2, N'Nẹp', 2)
INSERT [dbo].[DM_DUNGCU_HOTRO] ([DCHT_ID], [DCHT_TEN], [DCHT_STT]) VALUES (3, N'Xe lăn', 3)
SET IDENTITY_INSERT [dbo].[DM_DUNGCU_HOTRO] OFF
SET IDENTITY_INSERT [dbo].[DM_HUYEN] ON 

INSERT [dbo].[DM_HUYEN] ([HUYEN_ID], [HUYEN_TEN], [HUYEN_DIENGIAI], [TINH_ID], [HUYEN_STT]) VALUES (1, N'Ninh Kiều', NULL, 1, 1)
INSERT [dbo].[DM_HUYEN] ([HUYEN_ID], [HUYEN_TEN], [HUYEN_DIENGIAI], [TINH_ID], [HUYEN_STT]) VALUES (2, N'Chợ Mới', NULL, 2, 1)
INSERT [dbo].[DM_HUYEN] ([HUYEN_ID], [HUYEN_TEN], [HUYEN_DIENGIAI], [TINH_ID], [HUYEN_STT]) VALUES (3, N'Châu Thành', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[DM_HUYEN] OFF
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_MUCDO] ON 

INSERT [dbo].[DM_KHUYETTAT_MUCDO] ([MDKT_ID], [MDKT_TEN], [MDKT_STT]) VALUES (1, N'Nhẹ', 1)
INSERT [dbo].[DM_KHUYETTAT_MUCDO] ([MDKT_ID], [MDKT_TEN], [MDKT_STT]) VALUES (2, N'Nặng', 2)
INSERT [dbo].[DM_KHUYETTAT_MUCDO] ([MDKT_ID], [MDKT_TEN], [MDKT_STT]) VALUES (3, N'Đặc biệt nặng', 3)
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_MUCDO] OFF
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_NGUYENNHAN] ON 

INSERT [dbo].[DM_KHUYETTAT_NGUYENNHAN] ([NNKT_ID], [NNKT_TEN], [NNKT_STT]) VALUES (1, N'Do bẩm sinh', 1)
INSERT [dbo].[DM_KHUYETTAT_NGUYENNHAN] ([NNKT_ID], [NNKT_TEN], [NNKT_STT]) VALUES (2, N'Do bệnh', 2)
INSERT [dbo].[DM_KHUYETTAT_NGUYENNHAN] ([NNKT_ID], [NNKT_TEN], [NNKT_STT]) VALUES (3, N'Do tai nạn', 3)
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_NGUYENNHAN] OFF
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_TINHTRANG] ON 

INSERT [dbo].[DM_KHUYETTAT_TINHTRANG] ([TTKT_ID], [TTKT_TEN], [TTKT_STT]) VALUES (1, N'Đơn tật', 1)
INSERT [dbo].[DM_KHUYETTAT_TINHTRANG] ([TTKT_ID], [TTKT_TEN], [TTKT_STT]) VALUES (2, N'Đa tật', 2)
INSERT [dbo].[DM_KHUYETTAT_TINHTRANG] ([TTKT_ID], [TTKT_TEN], [TTKT_STT]) VALUES (3, N'Liệt chân trái', 3)
SET IDENTITY_INSERT [dbo].[DM_KHUYETTAT_TINHTRANG] OFF
SET IDENTITY_INSERT [dbo].[DM_NGHE_NGHIEP] ON 

INSERT [dbo].[DM_NGHE_NGHIEP] ([NN_ID], [NN_TEN], [NN_DIENGIAI], [NN_STT]) VALUES (1, N'Viên chức', NULL, 1)
INSERT [dbo].[DM_NGHE_NGHIEP] ([NN_ID], [NN_TEN], [NN_DIENGIAI], [NN_STT]) VALUES (2, N'Lập trình viên', NULL, 2)
SET IDENTITY_INSERT [dbo].[DM_NGHE_NGHIEP] OFF
SET IDENTITY_INSERT [dbo].[DM_NHUCAU] ON 

INSERT [dbo].[DM_NHUCAU] ([NC_ID], [NC_TEN], [NC_STT]) VALUES (1, N'N/c BHYT miễn phí', 1)
INSERT [dbo].[DM_NHUCAU] ([NC_ID], [NC_TEN], [NC_STT]) VALUES (2, N'N/c PHCN (tập vật lý trị liệu, phẫu thuật...)', 2)
INSERT [dbo].[DM_NHUCAU] ([NC_ID], [NC_TEN], [NC_STT]) VALUES (3, N'N/c trợ giúp học văn hóa', 3)
SET IDENTITY_INSERT [dbo].[DM_NHUCAU] OFF
SET IDENTITY_INSERT [dbo].[DM_NOI_O_NHA] ON 

INSERT [dbo].[DM_NOI_O_NHA] ([NO_NHA_ID], [NO_NHA_TEN], [NO_NHA_STT]) VALUES (1, N'Nhà có bậc thềm cao', 1)
INSERT [dbo].[DM_NOI_O_NHA] ([NO_NHA_ID], [NO_NHA_TEN], [NO_NHA_STT]) VALUES (2, N'Nhà có bậc tam cấp', 2)
INSERT [dbo].[DM_NOI_O_NHA] ([NO_NHA_ID], [NO_NHA_TEN], [NO_NHA_STT]) VALUES (3, N'Nhà vệ sinh dễ tiếp cận', 3)
SET IDENTITY_INSERT [dbo].[DM_NOI_O_NHA] OFF
SET IDENTITY_INSERT [dbo].[DM_NOI_O_SONG_VOI] ON 

INSERT [dbo].[DM_NOI_O_SONG_VOI] ([NOSV_ID], [NOSV_TEN], [NOSV_STT]) VALUES (1, N'NKT đang sống với Bố mẹ', 1)
INSERT [dbo].[DM_NOI_O_SONG_VOI] ([NOSV_ID], [NOSV_TEN], [NOSV_STT]) VALUES (2, N'NKT đang sống với con cái', 2)
INSERT [dbo].[DM_NOI_O_SONG_VOI] ([NOSV_ID], [NOSV_TEN], [NOSV_STT]) VALUES (3, N'NKT đang sống với vợ/chồng', 3)
SET IDENTITY_INSERT [dbo].[DM_NOI_O_SONG_VOI] OFF
SET IDENTITY_INSERT [dbo].[DM_NOI_SINH_SONG] ON 

INSERT [dbo].[DM_NOI_SINH_SONG] ([NSS_ID], [NSS_TEN], [NSS_STT]) VALUES (1, N'Nhà của gia đình', 1)
INSERT [dbo].[DM_NOI_SINH_SONG] ([NSS_ID], [NSS_TEN], [NSS_STT]) VALUES (2, N'Nhà trọ', 2)
INSERT [dbo].[DM_NOI_SINH_SONG] ([NSS_ID], [NSS_TEN], [NSS_STT]) VALUES (3, N'Nhà riêng', 3)
SET IDENTITY_INSERT [dbo].[DM_NOI_SINH_SONG] OFF
SET IDENTITY_INSERT [dbo].[DM_PHUONGTIEN_DILAI] ON 

INSERT [dbo].[DM_PHUONGTIEN_DILAI] ([PT_ID], [PT_TEN], [PT_STT]) VALUES (1, N'Xe 3 bánh', NULL)
INSERT [dbo].[DM_PHUONGTIEN_DILAI] ([PT_ID], [PT_TEN], [PT_STT]) VALUES (2, N'Xe 2 bánh', NULL)
INSERT [dbo].[DM_PHUONGTIEN_DILAI] ([PT_ID], [PT_TEN], [PT_STT]) VALUES (3, N'Người nhà đưa đón', NULL)
SET IDENTITY_INSERT [dbo].[DM_PHUONGTIEN_DILAI] OFF
SET IDENTITY_INSERT [dbo].[DM_THANHVIEN_HOI] ON 

INSERT [dbo].[DM_THANHVIEN_HOI] ([TVH_ID], [TVH_TEN], [TVH_STT]) VALUES (1, N'Thành viên Hội NKT TPCT', 1)
INSERT [dbo].[DM_THANHVIEN_HOI] ([TVH_ID], [TVH_TEN], [TVH_STT]) VALUES (2, N'Thành viên CLB PNKT', 2)
INSERT [dbo].[DM_THANHVIEN_HOI] ([TVH_ID], [TVH_TEN], [TVH_STT]) VALUES (3, N'Thành viên CLB Người Điếc TPCT', 3)
SET IDENTITY_INSERT [dbo].[DM_THANHVIEN_HOI] OFF
SET IDENTITY_INSERT [dbo].[DM_TINH] ON 

INSERT [dbo].[DM_TINH] ([TINH_ID], [TINH_TEN], [TINH_DIENGIAI], [TINH_STT]) VALUES (1, N'Cần Thơ', N'Trực thuộc trung ương', 1)
INSERT [dbo].[DM_TINH] ([TINH_ID], [TINH_TEN], [TINH_DIENGIAI], [TINH_STT]) VALUES (2, N'An Giang', NULL, 2)
INSERT [dbo].[DM_TINH] ([TINH_ID], [TINH_TEN], [TINH_DIENGIAI], [TINH_STT]) VALUES (3, N'Long An', NULL, 3)
SET IDENTITY_INSERT [dbo].[DM_TINH] OFF
SET IDENTITY_INSERT [dbo].[DM_TINHTRANG_HONNHAN] ON 

INSERT [dbo].[DM_TINHTRANG_HONNHAN] ([TTHN_ID], [TTHN_TEN], [TTHN_STT]) VALUES (1, N'Đã lập gia đình', 1)
INSERT [dbo].[DM_TINHTRANG_HONNHAN] ([TTHN_ID], [TTHN_TEN], [TTHN_STT]) VALUES (2, N'Độc thân', 2)
SET IDENTITY_INSERT [dbo].[DM_TINHTRANG_HONNHAN] OFF
SET IDENTITY_INSERT [dbo].[DM_TONGIAO] ON 

INSERT [dbo].[DM_TONGIAO] ([TG_ID], [TG_TEN], [TG_STT]) VALUES (1, N'Phật giáo', 1)
INSERT [dbo].[DM_TONGIAO] ([TG_ID], [TG_TEN], [TG_STT]) VALUES (2, N'Thiên chúa giáo', 2)
INSERT [dbo].[DM_TONGIAO] ([TG_ID], [TG_TEN], [TG_STT]) VALUES (3, N'Tin lành', 3)
SET IDENTITY_INSERT [dbo].[DM_TONGIAO] OFF
SET IDENTITY_INSERT [dbo].[DM_TRINH_DO_CHUYEN_MON] ON 

INSERT [dbo].[DM_TRINH_DO_CHUYEN_MON] ([CM_ID], [CM_TEN], [CM_DIENGIAI], [CM_STT]) VALUES (1, N'Đang học lớp 3', NULL, 1)
INSERT [dbo].[DM_TRINH_DO_CHUYEN_MON] ([CM_ID], [CM_TEN], [CM_DIENGIAI], [CM_STT]) VALUES (2, N'Lớp 6', NULL, 2)
INSERT [dbo].[DM_TRINH_DO_CHUYEN_MON] ([CM_ID], [CM_TEN], [CM_DIENGIAI], [CM_STT]) VALUES (3, N'Lớp 2', NULL, 3)
SET IDENTITY_INSERT [dbo].[DM_TRINH_DO_CHUYEN_MON] OFF
SET IDENTITY_INSERT [dbo].[DM_TRINH_DO_HOC_VAN] ON 

INSERT [dbo].[DM_TRINH_DO_HOC_VAN] ([HV_ID], [HV_TEN], [HV_DIENGIAI], [HV_STT]) VALUES (1, N'Đại học', NULL, 1)
INSERT [dbo].[DM_TRINH_DO_HOC_VAN] ([HV_ID], [HV_TEN], [HV_DIENGIAI], [HV_STT]) VALUES (2, N'Cao đẳng', NULL, 2)
INSERT [dbo].[DM_TRINH_DO_HOC_VAN] ([HV_ID], [HV_TEN], [HV_DIENGIAI], [HV_STT]) VALUES (3, N'Trung cấp', NULL, 3)
SET IDENTITY_INSERT [dbo].[DM_TRINH_DO_HOC_VAN] OFF
SET IDENTITY_INSERT [dbo].[DM_XA] ON 

INSERT [dbo].[DM_XA] ([XA_ID], [XA_TEN], [HUYEN_ID], [TINH_ID], [XA_DIENGIAI], [XA_STT]) VALUES (1, N'Xuân Khánh', 1, 1, NULL, 1)
INSERT [dbo].[DM_XA] ([XA_ID], [XA_TEN], [HUYEN_ID], [TINH_ID], [XA_DIENGIAI], [XA_STT]) VALUES (2, N'An Cư', 1, 1, NULL, 2)
INSERT [dbo].[DM_XA] ([XA_ID], [XA_TEN], [HUYEN_ID], [TINH_ID], [XA_DIENGIAI], [XA_STT]) VALUES (3, N'An Lạc', 1, 1, NULL, 3)
SET IDENTITY_INSERT [dbo].[DM_XA] OFF
SET IDENTITY_INSERT [dbo].[QL_HOIVIEN] ON 

SET IDENTITY_INSERT [dbo].[QL_HOIVIEN] OFF
ALTER TABLE [dbo].[DM_HUYEN]  WITH CHECK ADD  CONSTRAINT [FK_DM_HUYEN_DM_TINH] FOREIGN KEY([TINH_ID])
REFERENCES [dbo].[DM_TINH] ([TINH_ID])
GO
ALTER TABLE [dbo].[DM_HUYEN] CHECK CONSTRAINT [FK_DM_HUYEN_DM_TINH]
GO
ALTER TABLE [dbo].[DM_XA]  WITH CHECK ADD  CONSTRAINT [FK_DM_XA_DM_HUYEN] FOREIGN KEY([HUYEN_ID])
REFERENCES [dbo].[DM_HUYEN] ([HUYEN_ID])
GO
ALTER TABLE [dbo].[DM_XA] CHECK CONSTRAINT [FK_DM_XA_DM_HUYEN]
GO
ALTER TABLE [dbo].[DM_XA]  WITH CHECK ADD  CONSTRAINT [FK_DM_XA_DM_TINH] FOREIGN KEY([TINH_ID])
REFERENCES [dbo].[DM_TINH] ([TINH_ID])
GO
ALTER TABLE [dbo].[DM_XA] CHECK CONSTRAINT [FK_DM_XA_DM_TINH]
GO
USE [master]
GO
