USE [master]
GO
/****** Object:  Database [QL_HOIVIEN_KT]    Script Date: 12/26/2017 18:35:46 ******/
CREATE DATABASE [QL_HOIVIEN_KT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_HOIVIEN_KT', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QL_HOIVIEN_KT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_HOIVIEN_KT_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QL_HOIVIEN_KT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_HOIVIEN_KT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_HOIVIEN_KT]
GO
/****** Object:  Table [dbo].[DM_HUYEN]    Script Date: 12/26/2017 18:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_HUYEN](
	[HUYEN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HUYEN_TEN] [nvarchar](150) NULL,
	[HUYEN_DIENGIAI] [nvarchar](250) NULL,
	[TINH_ID] [bigint] NULL,
	[HUYEN_STT] [int] NULL,
 CONSTRAINT [PK_DM_HUYEN] PRIMARY KEY CLUSTERED 
(
	[HUYEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NGHE_NGHIEP]    Script Date: 12/26/2017 18:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NGHE_NGHIEP](
	[NN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NN_TEN] [nvarchar](150) NULL,
	[NN_DIENGIAI] [nvarchar](250) NULL,
	[NN_STT] [int] NULL,
 CONSTRAINT [PK_DM_NGHE_NGHIEP] PRIMARY KEY CLUSTERED 
(
	[NN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TINH]    Script Date: 12/26/2017 18:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TINH](
	[TINH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TINH_TEN] [nvarchar](150) NULL,
	[TINH_DIENGIAI] [nvarchar](250) NULL,
	[TINH_STT] [int] NULL,
 CONSTRAINT [PK_DM_TINH] PRIMARY KEY CLUSTERED 
(
	[TINH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TRINH_DO_CHUYEN_MON]    Script Date: 12/26/2017 18:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TRINH_DO_CHUYEN_MON](
	[CM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CM_TEN] [nvarchar](150) NULL,
	[CM_DIENGIAI] [nvarchar](250) NULL,
	[CM_STT] [int] NULL,
 CONSTRAINT [PK_DM_TRINH_DO_CHUYEN_MON] PRIMARY KEY CLUSTERED 
(
	[CM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TRINH_DO_HOC_VAN]    Script Date: 12/26/2017 18:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TRINH_DO_HOC_VAN](
	[HV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HV_TEN] [nvarchar](150) NULL,
	[HV_DIENGIAI] [nvarchar](250) NULL,
	[HV_STT] [int] NULL,
 CONSTRAINT [PK_DM_TRINH_DO_HOC_VAN] PRIMARY KEY CLUSTERED 
(
	[HV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_XA]    Script Date: 12/26/2017 18:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_XA](
	[XA_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[XA_TEN] [nvarchar](150) NULL,
	[HUYEN_ID] [bigint] NULL,
	[XA_DIENGIAI] [nvarchar](250) NULL,
	[XA_STT] [int] NULL,
 CONSTRAINT [PK_DM_XA] PRIMARY KEY CLUSTERED 
(
	[XA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DM_TINH] ON 

INSERT [dbo].[DM_TINH] ([TINH_ID], [TINH_TEN], [TINH_DIENGIAI], [TINH_STT]) VALUES (1, N'Cần Thơ', N'Trực thuộc trung ương', 1)
INSERT [dbo].[DM_TINH] ([TINH_ID], [TINH_TEN], [TINH_DIENGIAI], [TINH_STT]) VALUES (2, N'An Giang', NULL, 2)
INSERT [dbo].[DM_TINH] ([TINH_ID], [TINH_TEN], [TINH_DIENGIAI], [TINH_STT]) VALUES (3, N'Long An', NULL, 3)
SET IDENTITY_INSERT [dbo].[DM_TINH] OFF
ALTER TABLE [dbo].[DM_HUYEN]  WITH CHECK ADD  CONSTRAINT [FK_DM_HUYEN_DM_TINH] FOREIGN KEY([TINH_ID])
REFERENCES [dbo].[DM_TINH] ([TINH_ID])
GO
ALTER TABLE [dbo].[DM_HUYEN] CHECK CONSTRAINT [FK_DM_HUYEN_DM_TINH]
GO
ALTER TABLE [dbo].[DM_XA]  WITH CHECK ADD  CONSTRAINT [FK_DM_XA_DM_HUYEN] FOREIGN KEY([HUYEN_ID])
REFERENCES [dbo].[DM_HUYEN] ([HUYEN_ID])
GO
ALTER TABLE [dbo].[DM_XA] CHECK CONSTRAINT [FK_DM_XA_DM_HUYEN]
GO
USE [master]
GO
